# Ignore virtual environment directories
venv/
env/
.venv/
travelo/Lib/
travelo/Scripts/


# Ignore Django migrations files
**/migrations/*.py
!**/migrations/__init__.py

# Ignore compiled files
__pycache__/
*.py[cod]

# Ignore media files (user-uploaded content)
/media/

# Ignore Django secret keys and sensitive data files
*.env

# Ignore IDE/editor settings and other system files
.vscode/
.idea/
.DS_Store
Thumbs.db
